@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    20%, 60% {
      transform: translateX(-8px);
    }
    40%, 80% {
      transform: translateX(8px);
    }
  }
  
  .animate-shake {
    animation: shake 0.5s;
  }